.map {
    -webkit-user-drag: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.map:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

body {
    background-color: black;
    overflow: hidden;
}

h1, h2, h3, h4, h5, body2, p {
    text-align: center;
    font-family: Courier;
}

.header {
    margin-top: 4rem;
}

.logoMainPage {
    -webkit-user-drag: none;
    align-items: center;
    justify-content: center;
    /* margin-top: 17rem;
    margin-left: 33rem; */
}

.logoContacts {
    margin-top: -30rem;
    margin-left: 9rem;
    max-width: 94%;
    max-height: auto;
}

.mainPageDiv {
    display: flex;
    
    margin-top: 220px;
    margin-left: 220px;

    align-items: center;
    justify-content: center;
}