.map {
    -webkit-user-drag: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.map:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}