.map {
    -webkit-user-drag: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.map:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}


body {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

h1, h2, h3, h4, h5, body2, p {
    text-align: center;
    font-family: Courier;
}

.logo {
    width: 40px;
}

.logo:hover {
    animation-duration: 0.40s;
    animation-name: logoHover;
    animation-fill-mode: forwards;
}

@keyframes logoHover {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
        filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(-30deg) brightness(104%) contrast(97%);
    }
}

.terms {
    color: #e8e6e3;
    font-family: Courier;
    font-size: large;
    margin-top: 90px;
    line-break: auto;
}

.header {
    margin-top: 4rem;
}

.logoMainPage {
    -webkit-user-drag: none;
    margin-top: 17rem;
    margin-left: 33rem;
}

.mainPageDiv {
    color: #e8e6e3;
    font-family: Courier;
    font-size: large;
    margin-top: 90px;
}

.logoContacts {
    margin-top: -30rem;
    margin-left: 9rem;
    max-width: 94%;
    max-height: auto;
}

.cardsGrid {
    margin-top: 90px;
}

.space {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form {
    margin: 5rem;
}

.loginDiv {
    margin-top: 12rem;
    margin-left: 44rem;
}

.profileDiv {
    margin: 20rem;
}

.textsAdmin {
    margin-left: 240px;
    margin-top: 120px;
}

.cardsGridAdmin {
    margin-left: 220px;
    margin-top: 10px;
}


/* Loading animation */
.lds-hourglass {
    margin: 0 auto;
  }

.lds-hourglass:after {
    content: " ";
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}